.card-container {
    display: flex;
    flex-direction: column;
    background-color: #a1fe00;
    border: 4px outset rgba(213, 198, 198, 0.614);
    border-radius: 20px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  .card-container p{
    font-weight: bolder;
  }